<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}} | Graficos.net Blog - Paul Melero - Front-End Zaragoza</title>
    <meta name="description" content="{{meta_description}}" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Favicon }}
    <link rel="shortcut icon" href="{{asset "images/fav.png"}}">

    {{! Style collection }}
    <link rel='stylesheet' type='text/css' href="{{asset "css/foundation.min.css"}}" />
    <link rel='stylesheet' type='text/css' href="{{asset "css/reset.min.css"}}" />
    <link rel='stylesheet' type='text/css' href="{{asset "css/style.min.css"}}" />
    <link rel='stylesheet' type="text/css" href="{{asset "css/blog.min.css"}}" />
    <link rel='stylesheet' type='text/css' href="{{asset "css/foundation-icons.min.css"}}" />
    <link rel='stylesheet' type='text/css' href="{{asset "css/monokai_sublime.min.css"}}" />
    <script src="{{asset "js/highlight.pack.js"}}"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    {{! Some silly icons}}
    <link rel="apple-touch-icon" sizes="57x57" href="touch-icon-iphone.png" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
    <meta name="pinterest" content="nopin" />
</head>
<body class="{{body_class}}">

    <!-- Header -->
    <div id="header">
        <a href="{{@blog.url}}"><div class="logo"></div></a>
        <div class="link">
            <nav>
                <ul>
                    <li><a class="link" href="http://graficos.net" title="Blog">Graficos.net</a></li>
                </ul>
            </nav>
        </div>
    </div>

    {{! Everything else gets inserted here }}
    {{{body}}}

    {{! Footer partial }}
    {{> footer}}

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript files for Ghostology }}
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/libs/jquery.easing.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/libs/jquery.scrollTo.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/main.js"}}"></script>

</body>
</html>
